@model IEnumerable<Model.EF.paymentMethod>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Payment Method Management</h2>

<p>
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Dashboard")';return false;">
        Back to Dashboard
    </button>
<p>
<p>
    <button type="button" class="btn btn-default btn-sm btn-success" onclick="location.href='@Url.Action("Create")';return false;">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.payment_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.payment_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.payment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.payment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.payment_id })
        </td>
    </tr>
}

</table>
