@model Model.EF.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Details</h2>
                <div class="breadcrumb-wrapper col-12">
                    @*<ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                Brands
                            </li>
                        </ol>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }, new { @class = "btn btn-primary col-md-1" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "col-md-2 mt-1" })
    </div>
    <hr />
    <dl class="dl-horizontal detail-list">
        <div class="row">

            <div class="col-md-7">
                <dt>
                    @Html.DisplayNameFor(model => model.product_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.product_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.brand.brand_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.brand.brand_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.category.category_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.category.category_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.product_volume)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.product_volume)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.product_quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.product_quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.product_originalPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.product_originalPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.product_currentPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.product_currentPrice)
                </dd>


            </div>
            <div class="col-md-5">
                @*<dt>
                    @Html.DisplayNameFor(model => model.productImgs.First().img_path)
                </dt>*@

                <dd class="product-img">
                    <img src="@ViewBag.imgPath/@Model.product_id/@Model.productImgs.First().img_path" alt="@Model.product_name" />
                </dd>
            </div>

        </div>

        <dt >
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_status)
        </dt>

        <dd>
            @ViewBag.statusText
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_updatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_updatedAt)
        </dd>


    </dl>
</div>

