@model IEnumerable<Model.EF.product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Products (@Model.Count())</h2>
                <div class="breadcrumb-wrapper col-12">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Data list view starts -->
    <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="action-btns d-none">
            <div class="btn-dropdown mr-1 mb-1">
                <div class="btn-group dropdown actions-dropodown">
                </div>
            </div>
        </div>
        <!-- dataTable starts -->
        <div class="table-responsive">
            <table class="table data-thumb-view">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.product_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.product_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.productImgs.First().img_path)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.brand.brand_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.category.category_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.product_volume)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.product_quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.product_originalPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.product_currentPrice)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.product_description)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.product_status)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.product_createdAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.product_updatedAt)
                            </th>*@
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_name)
                            </td>
                            <td>
                                <img class="product-img" src="@ViewBag.imgPath/@item.product_id/@item.productImgs.First().img_path" alt="@item.product_name" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.brand.brand_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category.category_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_volume)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_originalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_currentPrice)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.product_description)
                                </td>*@
                            <td>
                                @switch (item.product_status)
                                {
                                    case 0:
                                        <i class='ficon feather icon-x-circle product-status-0'></i>
                                        break;
                                    case 1:
                                        <i class='ficon feather icon-check-circle product-status-1'></i>
                                        break;
                                    case 2:
                                        <i class='ficon feather icon-alert-circle product-status-2'></i>
                                        break;
                                    default:
                                        <i class='ficon feather icon-help-circle'></i>
                                        break;
                                }
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.product_createdAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.product_updatedAt)
                                </td>*@
                            <td >
                                <div class="actions row">
                                    <a class="text-info" href="@Url.Action("Details", "products", new { id = item.product_id })">
                                        <i class='ficon feather icon-list'></i>
                                    </a> 
                                    <a class="text-warning" href="@Url.Action("Edit", "products", new { id = item.product_id })">
                                        <i class='ficon feather icon-edit-1'></i>
                                    </a> 
                                    <a class="text-danger" href="@Url.Action("Delete", "products", new { id = item.product_id })">
                                        <i class='ficon feather icon-trash-2'></i>
                                    </a>
                                </div>

                                @*@Html.ActionLink("Details", "Details", new { id = item.product_id }, new { @class = "text-info" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.product_id }, new { @class = "text-danger" })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- dataTable ends -->
    </section>
    <!-- Data list view end -->

</div>

