@model IEnumerable<Model.EF.user>

@{
    ViewBag.Title = "User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--Count number-->
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">User Management (@Model.Count())</h2>
                <div class="breadcrumb-wrapper col-12">
                    @*<ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                Brands
                            </li>
                        </ol>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--end count-->
<div class="content-body">
    <!-- Data list view starts -->
    <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="action-btns d-none">
            <div class="btn-dropdown mr-1 mb-1">
                <div class="btn-group dropdown actions-dropodown">
                </div>
            </div>
        </div>
        <!-- dataTable starts -->
        <div class="table-responsive">
            <table class="table data-thumb-view">
                <thead>
                    <!--table column name-->
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.user_role.role_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_fullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_avartar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_createdAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user_status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <!--table body-->
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_role.role_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_fullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_avartar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_createdAt)
                        </td>
                        <td>
                            @(item.user_status == 1 ? "" : "")

                            @if (item.user_status == 1)
                            {
                                <i class='ficon feather icon-check-circle'></i>
                            }
                            else
                            {
                                <i class='ficon feather icon-x-circle'></i>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.user_id }, new { @class = "text-success" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.user_id }, new { @class = "text-info" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.user_id }, new { @class = "text-danger" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- dataTable ends -->
    </section>
    <!-- Data list view end -->
</div>
