@model Model.EF.productImg

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>productImg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.img_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
