@model IEnumerable<Model.EF.brand>

@{
    ViewBag.Title = "Brands Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Brands (@Model.Count())</h2>
                <div class="breadcrumb-wrapper col-12">
                    @*<ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                Brands
                            </li>
                        </ol>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Data list view starts -->
    <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="action-btns d-none">
            <div class="btn-dropdown mr-1 mb-1">
                <div class="btn-group dropdown actions-dropodown">
                </div>
            </div>
        </div>
        <!-- dataTable starts -->
        <div class="table-responsive">
            <table class="table data-thumb-view">
                <thead>
                    <tr>                        
                        <th>
                            @Html.DisplayNameFor(model => model.brand_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.brand_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.country.country_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.brand_createdAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.brand_status)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.brand_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.brand_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.country.country_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.brand_createdAt)
                            </td>
                            <td>

                                @switch (item.brand_status)
                                {
                                    case 0:
                                        <i class='ficon feather icon-x-circle product-status-0'></i>
                                        break;
                                    case 1:
                                        <i class='ficon feather icon-check-circle product-status-1'></i>
                                        break;
                                    case 2:
                                        <i class='ficon feather icon-alert-circle product-status-2'></i>
                                        break;
                                    default:
                                        <i class='ficon feather icon-help-circle'></i>
                                        break;
                                }
                            </td>
                            <td>
                               <div class="actions row">
                                    <a class="text-info" href="@Url.Action("Details", new { id = item.brand_id})">
                                        <i class='ficon feather icon-list'></i>
                                    </a> 
                                    <a class="text-warning" href="@Url.Action("Edit", new { id = item.brand_id})">
                                        <i class='ficon feather icon-edit-1'></i>
                                    </a> 
                                    <a class="text-danger" href="@Url.Action("Delete", new { id = item.brand_id})">
                                        <i class='ficon feather icon-trash-2'></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- dataTable ends -->
    </section>
    <!-- Data list view end -->

</div>

