@model IEnumerable<Model.EF.favList>
@{
    ViewBag.Title = "Favorite List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section jsFooter{
    <script src="/Assets/js/Controller/cartController.js"></script>
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Favorite List</h2>
                <div class="page_link">
                    @Html.ActionLink("Home", "index", "Home")
                    @Html.ActionLink("FavList", "index", "FavList")
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<section class="feature_product_area section_gap" id="feature-product">
    <div class="main_box">
        <div class="container-fluid">
            @*<div class="row">
                <div class="main_title">
                    <h2>Featured Fragrances</h2>
                    <p>Perfumes that loved by our customers.</p>
                </div>
            </div>*@
            <div class="row">
                @*Get 10 product sorted by product ID with acitve status *@

                @foreach (var item in Model)
                {
                    <div class="col ">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="@ViewBag.imgPath/@item.product.product_id/@item.product.productImgs.First().img_path" alt="@item.product.product_name">
                                <div class="p_icon">
                                    @*check sản phẩm có nằm trong favlist ở các trang khác. Trang này mặc định là active rồi. Mấy trang khác thì có 2 trạng thái nên sẽ dùng if để check *@
                                    <a class="active" href="@Url.Action("RemoveItem", "FavList", new { productId = @item.product.product_id})">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="@Url.Action("AddItem", "Cart", new { productId = item.product_id, quantity = 1})">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="@Url.Action("Detail", "Store", new { id = item.product_id})">
                                <h4>@item.product.product_name</h4>
                            </a>

                            <h5>$ @item.product.product_currentPrice</h5>
                        </div>

                    </div>
                }
            </div>
            @*<div class="row">
                <a class="green_btn mx-auto" href="@Url.Action("Index", "Store")">See more</a>
            </div>*@
        </div>
    </div>
</section>