<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">
                    
                    <div class="brand-logo"></div>
                    <h2 class="brand-text mb-0">ATM</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="@Url.Action("Index", "Dashboard")"><i class="feather icon-home"></i><span class="menu-title">Dashboard</span></a></li>
            @*Product Management*@
            <li class=" navigation-header">
                <span>Product Management</span>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "products")"><i class="feather icon-grid"></i><span class="menu-title">Products</span></a>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "categories")"><i class="feather icon-grid"></i><span class="menu-title">Categories</span></a>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "brands")"><i class="feather icon-grid"></i><span class="menu-title">Brands</span></a>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "Countries")"><i class="feather icon-grid"></i><span class="menu-title">Countries</span></a>
            </li>
            @*Order Management*@
            <li class=" navigation-header">
                <span>Order Management</span>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "orders")"><i class="feather icon-grid"></i><span class="menu-title">Orders</span></a>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "deliveryMethods")"><i class="feather icon-grid"></i><span class="menu-title">Delivery Methods</span></a>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "paymentMethods")"><i class="feather icon-grid"></i><span class="menu-title">Payment Methods</span></a>
            </li>
            @*User Management*@
            <li class=" navigation-header">
                <span>User Management</span>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "users")"><i class="feather icon-grid"></i><span class="menu-title">Users</span></a>
            </li>
            <li class=" nav-item">
                <a href="@Url.Action("Index", "user_role")"><i class="feather icon-grid"></i><span class="menu-title">User Roles</span></a>
            </li>
        </ul>
    </div>
</div>
