@model Model.EF.category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--Upper tittle-->
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Category Details</h2>
                <div class="breadcrumb-wrapper col-12">
                    @*<ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                Brands
                            </li>
                        </ol>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--Show detail-->
<div class="content-body">
    <div class="row">
        @Html.ActionLink("Edit", "Edit", new { id = Model.category_id }, new { @class = "btn btn-primary col-md-1" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "col-md-2 mt-1" })
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.category_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.category_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.category_status)
        </dd>
    </dl>
</div>
