@model IEnumerable<Model.EF.product>
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand.brand_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_originalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_currentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_description)
        </td>
        <td class="@(item.product_status == 1 ? "active" : "locked") ">

            @if (item.product_status == 1)
            {
                <i class='ficon feather icon-check-circle'></i>
            }
            else
            {
                <i class='ficon feather icon-x-circle'></i>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_updatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.product_id }, new { @class = "text-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.product_id }, new { @class = "text-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.product_id }, new { @class = "text-danger" })
        </td>
    </tr>
}


