@model IEnumerable<Model.EF.order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="content-header row">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Delivery method (@Model.Count())</h2>
                <div class="breadcrumb-wrapper col-12">
                    @*<ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                Brands
                            </li>
                        </ol>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Data list view starts -->
    <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="action-btns d-none">
            <div class="btn-dropdown mr-1 mb-1">
                <div class="btn-group dropdown actions-dropodown">
                </div>
            </div>
        </div>
        <!-- dataTable starts -->
        <div class="table-responsive">
            <table class="table data-thumb-view">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.deliveryMethod.delivery_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.paymentMethod.payment_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.user.user_username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_paymentStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_handledBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_totalCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_receiverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_receiverAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_receiverPhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_receiverEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_deliveryStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_createdAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_updatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.order_deliveredAt)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => item.deliveryMethod.delivery_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.paymentMethod.payment_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user.user_username)
                        </td>

                        <td class="@(item.order_paymentStatus == 1 ? "active" : "locked") ">

                            @if (item.order_paymentStatus == 1)
                            {
                                <i class='ficon feather icon-check-circle'></i>
                            }
                            else
                            {
                                <i class='ficon feather icon-x-circle'></i>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_handledBy)
                        </td>

                        <td>
                            @switch (item.order_status)
                            {
                                case 0:
                                    <i class='ficon feather icon-x-circle product-status-0'></i>
                                    break;
                                case 1:
                                    <i class='ficon feather icon-check-circle product-status-1'></i>
                                    break;
                                case 2:
                                    <i class='ficon feather icon-alert-circle product-status-2'></i>
                                    break;
                                default:
                                    <i class='ficon feather icon-help-circle'></i>
                                    break;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_totalCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_receiverName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_receiverAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_receiverPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_receiverEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_deliveryStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_createdAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_updatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.order_deliveredAt)
                        </td>

                        <td>
                            <div class="actions row">
                                <a class="text-info" href="@Url.Action("Details", "orders", new { id = item.order_id})">
                                    <i class='ficon feather icon-list'></i>
                                </a>
                                <a class="text-warning" href="@Url.Action("Edit", "orders", new { id = item.order_id })">
                                    <i class='ficon feather icon-edit-1'></i>
                                </a>
                                <a class="text-danger" href="@Url.Action("Delete", "orders", new { id = item.order_id })">
                                    <i class='ficon feather icon-trash-2'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- dataTable ends -->
    </section>
    <!-- Data list view end -->

</div>

